{% extends "index.html" %}
{% block content%}
<div id = "plsignorethis"></div>
<link rel="stylesheet" href="{{ url_for('static', filename = 'create.css')}}">
   
<div id = "createform" style="position: absolute; left: 100px; top: 150px;">
<h1> Want to create your own lesson?</h1>
<p> Once you fill in the form, it will send a request to the team. We will manually accept your lesson.</p>
<form action = "#" method = "POST">
    <p id = "pp">Title: </p>
    <input type = "text"  placeholder = "enter title" name = "title" class = "inputz">
    <p id = "pp"> Content: </p>
    <input type = "text" placeholder = "enter content" name = "content" class = "inputz">
    <p id = "specialp"> Author</p>
    <input type="text" placeholder = "enter author" name = "author" class = "inputz">
    <p id = "specialp"> Slug</p>
    <input type="text" placeholder = "enter slug" name = "slug" class = "inputz">
    
    <div></div>

    <button type = "submit" value = "submit" class = "btn btn-outline-primary" id = "submitbutton"> Submit </button>
</form>
</div>

{% endblock %}