{% extends "index.html" %}
{% block content%}
<div id = "plsignorethis"></div>
<link rel="stylesheet" href="{{ url_for('static', filename = 'create.css')}}">
   

<h1>Want to post your own charity to Funfair for the world to see?</h1>
<p> Once you fill in the form, it will go on the website as a public event for everyone to see and sign up!</p>
<div id = "createform" class="shadow p-3 mb-5 bg-body rounded">
<form action = "#" method = "POST">
    <p class= "form-title">Title: </p>
    <input type = "text"  placeholder = "Enter Title" name = "title" class = "form-control">
    <p class="form-title" > Content: </p>
    <input type = "text" placeholder = "Enter Content" name = "content" class = "form-control">
    <p class="form-title"> Author</p>
    <input type="text" placeholder = "Enter Author Name" name = "author" class = "form-control">
    <p class="form-title"> Slug</p>
    <input type="text" placeholder = "Enter Slug" name = "slug" class = "inputz form-control">
    
    <br>

    <button type = "submit" value = "Submit" class = "btn btn-outline-primary" id = "submitbutton"> Submit </button>
</form>
</div>

{% endblock %}