{% extends "index.html" %}
{% block content%}
<div id = "plsignorethis"></div>
<link rel="stylesheet" href="{{ url_for('static', filename = 'create.css')}}">
   
<div id = "createform" style="position: absolute; left: 100px; top: 150px;">
<h1>Want to post your own charity for the world to see?</h1>
<p> Once you fill in the form, it will send a request to the team. We will manually accept your lesson.</p>
<form action = "#" method = "POST">
    <p id = "pp">Title: </p>
    <input type = "text"  placeholder = "Enter Title" name = "title" class = "inputz">
    <p id = "pp"> Content: </p>
    <input type = "text" placeholder = "Enter Content" name = "content" class = "inputz">
    <p id = "specialp"> Author</p>
    <input type="text" placeholder = "Enter Author Name" name = "author" class = "inputz">
    <p id = "specialp"> Slug</p>
    <input type="text" placeholder = "Enter Slug" name = "slug" class = "inputz">
    
    <div></div>

    <button type = "submit" value = "Submit" class = "btn btn-outline-primary" id = "submitbutton"> Submit </button>
</form>
</div>

{% endblock %}