<!DOCTYPE html>
<html>
<head>
<title>Fundfair - Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!--Linking stylesheets-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sniglet&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="{{ url_for('static', filename = 'home.css')}}">




<!--styles and fonts-->
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: 'Sniglet', cursive;}
.w3-bar-block .w3-bar-item {padding:20px}
</style>



</head>
<body>
  <script src="{{ url_for('static', filename = 'sub.js')}}"></script>


<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">☰</a>
  <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
  <a href="/about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
  <a href="/create" onclick="w3_close()" class="w3-bar-item w3-button">Create</a>
  <a href="/explore" onclick="w3_close()" class="w3-bar-item w3-button">Explore</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="oh-mama w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16">Account</div>
    <div class="title-text w3-center w3-padding-16">Fundfair</div>
  </div>
</div>


<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <li class = "title-li">
      <h1>Events - Up and coming</h1>
      {%block content%}
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for msg in messages %}
              <p id = 'messages'>{{msg}}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
      {% endblock %}
      <button class = "learn-more-btn"> learn more </button>

    </li>
    



  <!-- First Photo Grid-->
  
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div  class="w3-quarter">
      <img src="https://media.wired.com/photos/5f74d2f4df8a35780989d792/1:1/w_2160,h_2160,c_limit/Genshin%20Impact%20_Keyart.png" alt="Super Idol's Smile!" style="width:100%">
      <h3>Title of Event</h3>
      <p>hello this is the short description of the event, and the user can click on the post for more information. this is a very nice post </p>
  
   
    </div>
    
    

    <div class="w3-quarter">
      <img src="https://pbs.twimg.com/media/FGNmt_5WYAIkI6H?format=jpg&name=4096x4096" alt="Steak" style="width:100%">
      <h3>Title of Event</h3>
      <p>hello this is the short description of the event, and the user can click on the post for more information. this is a very nice post </p>
    </div>

    <div class="w3-quarter">
      <img src="https://video-images.vice.com/articles/5f7ce58178f74d009cc79ed3/lede/1602020874991-genshin124k.jpeg?crop=0.5625xw:1xh;center,center" alt="Cherries" style="width:100%">
      <h3>Title of Event</h3>
      <p>hello this is the short description of the event, and the user can click on the post for more information. this is a very nice post </p>
    </div>

    <div class="w3-quarter">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/31cca890-657d-4f07-9210-b4d6d3d38796/deh9x79-32376130-1c64-4308-b9fc-15deab952a8a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMxY2NhODkwLTY1N2QtNGYwNy05MjEwLWI0ZDZkM2QzODc5NlwvZGVoOXg3OS0zMjM3NjEzMC0xYzY0LTQzMDgtYjlmYy0xNWRlYWI5NTJhOGEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.YMr7L_DvpwCbXKTHq2sm-l63Tv__SfwMHztCB3fAYYE" alt="Pasta and Wine" style="width:100%">
      <h3>Title of Event</h3>
      <p>hello this is the short description of the event, and the user can click on the post for more information. this is a very nice post </p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="https://image.api.playstation.com/pr/bam-art/143/455/cee1bdea-9e18-402e-b495-6a449e1fc47b.png" alt="Popsicle" style="width:100%">
      <h3>Title of Event</h3>
      <p>hello this is the short description of the event, and the user can click on the post for more information. this is a very nice post </p>
    </div>
    <div class="w3-quarter">
      <img src="https://pbs.twimg.com/media/FH8dEuqVcAYho-k?format=jpg&name=4096x4096" alt="Salmon" style="width:100%">
      <h3>Title of Event</h3>
      <p>hello this is the short description of the event, and the user can click on the post for more information. this is a very nice post </p>
    </div>
    <div class="w3-quarter">
      <img src="https://i.redd.it/mlfq5x4p31371.jpg" alt="Sandwich" style="width:100%">
      <h3>Title of Event</h3>
      <p>hello this is the short description of the event, and the user can click on the post for more information. this is a very nice post </p>
    </div>
    <div class="w3-quarter">
      <img src="https://i.redd.it/g1mnqddrugd81.png" alt="Croissant" style="width:100%">
      <h3>Title of Event</h3>
      <p>hello this is the short description of the event, and the user can click on the post for more information. this is a very nice post </p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  
  <hr id="about">

  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">  
    <h3>Create your own charity event!</h3><br>
    <img src="https://thumbs.dreamstime.com/z/angry-executive-shouting-having-disagreement-employee-group-meeting-mad-boss-manager-conflict-office-scolding-criticizing-139894489.jpg" alt="Me" style="display:block;margin:auto" width="1100" height="600" object-fit="cover">
    <div class="w3-padding-32">
      <h4><b>Create your charity event and publish it!</b></h4>

      <p>Want to create your own charity event and publish it? Click here to sign up and create one! for more information, you can contact! click the button below to start creating!</p>
      <button> Lean more </button>

    </div>
  </div>
  <hr>
  
  <!-- Footer -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>Contact me!</h3>
      <p>If you have any questions or inquiries, feel free to email me! I will try my best to reply!</p>
      <p>Email: <a href="mailto:paknicola@gmail.com" target="_blank">paknicola@gmail.com</a></p>
    </div>
  
    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Lorem</span><br>
          <span>Sed mattis nunc</span>
        </li>
        <li class="w3-padding-16">
          <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Ipsum</span><br>
          <span>Praes tinci sed</span>
        </li> 
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3></h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
      </p>
    </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
