<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename = 'login.css')}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/login" method="POST">
        <div>
            <label for="username">Enter Your Username</label>
            <input id="username" name="username" type="text" placeholder="Enter your username">
        </div>

        <div>
            <label for="password">Enter Your Password</label>
            <input id="password" name="password" type="password" placeholder="Enter your password">
        </div>
        <div>
            <label for="permanentsession"> Remember Password & Username on Next Login? </label>
            <input name="permanentsession" type="checkbox" value = "true">

        </div>
        
        <button type = "submit">Submit</button>
        
        
        
    </form>
    <a id="link-register", href = "/register"> Dont have an account? </a>
</body>
</html>