{% extends "index.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'posts.css')}}">


<h1> blog posts...</h1>



<div class="shadow p-3 mb-5 bg-body rounded">
    By: {{ post.poster.name }}<br/>
    {{ post.date_posted }}<br/>
    {{ post.content }}<br/>
    Number of sign ups:
    {{post.sign_ups|length}}<br/>
    <a href="{{ url_for('views.signup', post_id=post.id)}}" class = "btn btn-outline-secondary">Sign Up</a>
    <a href="{{ url_for('views.edit_post', id=post.id) }}" class="btn btn-outline-secondary">Edit post</a>
    <a href="{{ url_for('views.delete_post', id=post.id) }}" class="btn btn-outline-danger">Delete post</a>


</div>
    





{% endblock %}


