<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fundfair - Register</title>
</head>
<body>
    <form action = "/register" method="POST">
        <div>
            <label for="name">Enter Your Name</label>
            <input id="name" name="name" type="text" placeholder="Enter your name">
        </div> 

        <div>
            <label for="username">Enter The Username</label>
            <input id="username" name="username" type="text" placeholder="Enter your username">
        </div>

        <div>
            <label for="email">Enter Your Email</label>
            <input id="email" name="email" type="email" placeholder="Enter your email">
        </div>


        <div>
            <label for="password1">Enter Your Password</label>
            <input id="password1" name="password1" type="password" placeholder="Enter your password">
        </div> 

       

        <div>
            <label for="password2">Enter Your password2</label>
            <input id="password2" name="password2" type="password" placeholder="Enter your password2">
        </div>
        <button type = "submit">Submit</button>
        
    </form>
</body>
</html>