{% extends "index.html" %}

{% block content %}
    <li id = 'messages-list'>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p id = 'messages'>{{msg}}</p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
           
       
            {% endfor %}
            {% endif %}
         {% endwith %}
    <form action = "/register" method="POST">
        <div>
            <label for="name">What is your display name?</label> <br>
            <input id="name" name="name" type="text" placeholder="Enter your name">
        </div>
        <br>
        <div>
            <label for="username">What is your username? </label><br>
            <input id="username" name="username" type="text" placeholder="Enter your username">
        </div>
        <br>
        <div>
            <label for="email">What is your email?</label><br>
            <input id="email" name="email" type="email" placeholder="Enter your email">
        </div>
        <br>

        <div>
            <label for="password1">Create a password</label><br>
            <input id="password1" name="password1" type="password" placeholder="Enter your password">
        </div> 

        <br>

        <div>
            <label for="password2">Verify the password</label><br>
            <input id="password2" name="password2" type="password" placeholder="Enter your password2">
        </div>
        <button type = "submit">Submit</button>
        
    </form>
{% endblock %}